<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajs-show</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- buoc 1. nhung thu vien angularjs tu duong link CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"></script>
</head>
<body>
    <div class="container" ng-app 
         ng-init="ds=['Saigon', 'Hue', 'Hanoi', 'Thuduc','Cantho','Haiphong', 'Nhatrang','Dalat']" 
    >
        <h2>AJS - Show Demo</h2>
        <hr>
        <p>Do you want to show the list of cities ? 
        <input type="checkbox" name="ckYes" id="ckYes" ng-model="ckYes">
        </p>
        <ol ng-show="ckYes">
            <li ng-repeat="tp in ds">{{tp}}</li>
        </ol>

    </div>
</body>
</html>